.admin-content {
    padding: 10px;
}

.operation-section {
    margin-bottom: 20px;
}

.form-item {

}

.form-item-submit {
    margin-top: 20px;
}

.flash-message {
    margin-bottom: 20px;
}

.text-area {
    width: 800px;
    height: 260px;
}


#login-section {
    margin-top: 60px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#login-section span {
    display: block;
}

#login-message {
    margin-top: 30px;
}