<div class="row">

  <% @flowers.each do |flower| %>
      <div class="span3 flower-container thumbnail">
        <a href="#">
          <img src="image/flower/<%= flower.image %>" />
        </a>
        <div class="caption">
          <h4><%= flower.title %></h4>
          <p>售价：<%= flower.price %>元 x 2束</p>
          <p><%= flower.description %></p>
          <p><a href="#" class="btn more-info-button"><i class="icon-leaf more-info-icon"></i> 了解更多</a></p>
        </div>
      </div>
  <% end %>

  <script type="text/javascript">
      function onMouseOverMoreInfoButton() {
          $(this).addClass("btn-success");
          $(this).find(".more-info-icon").addClass("icon-white");
      }

      function onMouseLeaveMoreInfoButton() {
          $(this).removeClass("btn-success");
          $(this).find(".more-info-icon").removeClass("icon-white");
      }

      $(document).ready(function() {
          $(".more-info-button").mouseover(onMouseOverMoreInfoButton).mouseleave(onMouseLeaveMoreInfoButton);
      });
  </script>

</div>