<div class="operation-section">
  <h2>Edit Flower</h2>

  <% if flash[:message] %>
      <p class="alert alert-info">
        <%= flash[:message] %>
      </p>
  <% end %>
</div>

<div class="content-section">
  <%= form_tag "/admin/flowers/#{@flower.id}", :method => "put" do %>
    <%= render 'form' %>
  <% end %>
</div>