<!DOCTYPE html>
<html>
<head>
  <title>WeeklyFlower</title>
  <link type="text/css" rel="stylesheet" href="http://taoimg-img1.stor.sinaapp.com/weeklyflower/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
  <script type="text/javascript" src="http://taoimg-img1.stor.sinaapp.com/weeklyflower/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="http://taoimg-img1.stor.sinaapp.com/weeklyflower/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div class="container">
    <a href="/"><img src="http://taoimg-img1.stor.sinaapp.com/weeklyflower/logo.jpg" /></a>
    <p id="header-contact">联系我们：159-2803-1840</p>
  </div>
</div>

<div id="ad">
  <div class="container">
    <div id="ad-title">
      <p>玫瑰 + 费列罗巧克力<br />情人节超值套餐</p>
      <p><a href="#" class="btn btn-success btn-large"><i class="icon-leaf icon-white"></i> 了解更多详情</a></p>
    </div>
    <div id="ad-image">
      <img src="<%= @ad_img %> " />
    </div>
  </div>
</div>

<div class="container">
  <div id="content">
    <%= yield %>
  </div>
</div>

<div id="footer">
  <div class="container">
    <p>我们是怎么提供服务的？ 我们提供的服务有什么<strong>特别</strong>？</p>
    <p><a href="#" class="btn"><i class="icon-info-sign"></i> 点击了解</a></p>
  </div>
</div>

<div id="info">
  <div class="container">
    <a href="#">关于我们</a>
    <a href="#">意见反馈</a>
  </div>
</div>
</body>
</html>
